body .wrapper{background-color: #ef3470;}
.search-content{height: 44px;width: 100%;max-width: 750px;position: fixed;background-color: rgb(255, 192, 1);top: 0px;z-index: 100;overflow: hidden;border-bottom: 0.5px solid #555;}
.search-content.wbox{background-color: transparent;border:0px;}
.search-content .class{width: 45px;height: 45px;margin: 0px 0px;background: url(../images/type_ioc.png) center no-repeat;background-size: contain;float: left;}
.mybtn.myBtnNoLogin{width: 45px;height: 45px;margin: 0px 0px;background: url(../images/order_ioc.png) center no-repeat;background-size: contain;float: right;}
.wbox-flex{height: 100%;width: calc(100% - 90px);display: block;position: absolute;top: 0px;padding: 0px 45px;}
.wbox-flex>input{ font-size: 0.25em;color: #333;width:calc(100% - 38px);height: 30px;margin: 5px 0px;text-align: left;border-radius: .8rem;-webkit-border-radius: 15px;background: url(../images/icon_search.png) no-repeat 10px center;background-size: contain;background:#fff;border: 0;padding: 0px 0px 0px 32px;float: left;font-weight: 400;}
.wbox-flex>input:focus {border: 0px;}
.foot{height: 50px;width: 100%;max-width: 750px;position: fixed;background-color: #fff;bottom: 0px;z-index: 100;overflow: hidden;border-top: 0.5px solid #555;}
.foot>a{width: calc(33.3% - 0.04rem);height:100%;float:left;padding-right: 0.06rem;text-decoration:none;background-color: #fff;}
.foot>a:last-child {padding-right: 0rem;}
.foot>a>img{width: 30px;height: 30px;display: block;margin: 0 auto;}
.foot>a>span{width:100%;color: #333;display: block;font-size: 17px;font-weight: 400;text-align: center;margin-top:2px;}
.foot>.select>span{color: #fa0;}
.copr ul{padding-top: 0px;}
.copr ul li {display: block;border: 0px;}
.copr {margin-bottom: 45px;}
.data_list_small .img_body>span,.data_list_small2 .img_body>span{right: -0.375rem;bottom: -0.375rem;}
.wrapper{background: #fff;}
.add_msg{width: 100%;font-size: 0.2em;background: #fff;}
.main_last{padding-bottom: 70px;}
.swiper-container{margin-top: 43px;}
.search-content.wbox{background-color: #ef3470;}
.type_body .img_body>img{border-radius:2px 2px 0px 0px;}
.type_body .data_desc{border-radius:0px 0px 2px 2px;}
.type_main>.type_name{font-size:0.6em;}
.ioc-boxs{margin: 15px 0.12rem 0px 0.12rem;overflow: hidden;max-height: 3.2em;text-align: center;background-color:#fff;padding:0.1em 0px;line-height: 0.8em;border-radius:2px;}
.ioc-box{display: inline-block;width: 1.2em;overflow: hidden;margin: 0 0.28em;}
.ioc-box>img,.ioc-box>a>img{display: block;width: 1em;margin: 2px auto;height: 1em;}
.ioc-box>span,.ioc-box>a>span{display: block;width: 100%;height: 2.2em;float:left;font-size: 0.2em;text-align:center;line-height: 1.1em;}
.ioc-container{position: relative;}
.ioc-container>.swiper-scrollbar{bottom: 0.1em;zoom: 0.5;width: 20%;margin: 0 40%;}
.search-bar .scan{position: absolute;width: 16px;height: 100%;margin: -3px 10px;background-image: url(../images/search_ioc.png);background-size: 100% auto;background-repeat: no-repeat;background-position: center;}
